/* ====== STYLE GENERAL ======= */
@font-face {
  font-family: Raleway;
  src: url(Fonts/Raleway-Italic-VariableFont_wght.ttf);
  src: url(Fonts/Raleway-VariableFont_wght.ttf);
}
*{
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.margin-box{
  margin: 2vw;
}

/* -+-+- COLOR THEME -+-+- */
.blue{
  color:#0065FC
}
.lightblue{
  color: #DEEBFF;
}
.gray{
  color: #F2F2F2;
}
.fa-star{
  margin-left: 2vh;
  height: 8px;
  width: 8px;
}
/* -+-+- GENERAL FONT -+-+-*/
.title{
  font-size: 1em;
  font-weight: bolder;
}
.card__title{
  font-size: 0.8em;
  margin-left: 2vh;
  text-align: left;
}
.card__text{
  font-size: 0.7em;
  margin-left: 2vh;
  font-weight: normal;
}
/* ========== HEADER ============ */

/* == NAV ==*/

nav{
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}
nav ul{
  list-style: none;
  display: flex;
}
nav a{
  text-decoration: none;
  color: grey;
  padding-left: 2vw;
  padding-right: 2vw;
}
nav a:hover{
  border-top: 3px solid #0065FC;
  color: #0065FC;
  padding-top: 2.5vw;
}
.nav__inscription a{
  color: #0065FC;
  font-weight: bolder;
}

/*== SEARCH ==*/

.search{
  margin-top: -5vw;
}
.head__logo{
  margin-left: -2vh;
}
.head__subtitle{
  font-size: 0.8em;
  font-weight: lighter;
  margin-top: -1vw;
  margin-bottom: 20px;
}
.head__search{
  display: flex;
  align-items: center;
}
.head__search img{
  background-color: #F2F2F2;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  padding: 14px;
  margin-bottom: -15px;
  margin-right: -5px;
}
.head__search input[type=search]{
  border: 2px solid #F2F2F2;
  font-weight: bolder;
  padding: 10px;
}
.head__search input[type=submit]{
  background: #0065FC;
  color: white;
  font-weight: bold;
  border: 1px #0065FC solid;
  padding: 11px;
  border-radius: 0% 10px 10px 0%;
}
.head__search input[type=submit]:hover{
  background-color: #DEEBFF;
  color: #0065FC;
  border: 1px solid #DEEBFF;
  cursor:pointer;
}

/* == FILTER == */
.filtres{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: bolder;
}
.filtres__title{
  font-size: 1em;
  margin-right: 3vw;
}
.filtres__list{
  display: flex;
  flex-flow: row wrap;
}
/*= FIlTER BUTTON = */
.filtres__btn{
  display: flex;
  align-items: center;
  border: 3px solid #F2F2F2;
  border-left: #DEEBFF;
  border-radius: 30px;
  margin-right: 10px;
  height: 29px;
}
.filtres__btn:hover, .btn__img:hover{
  background-color: #0065FC;
  color: #DEEBFF;
  cursor:pointer;
}
.btn__img{
  z-index: 2;
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 10px;
  margin-right: 7px;
  width: 14px;
  border-radius: 100%;
  text-align: center;
}
.btn__img:hover{
  transition: 1s;
  transform: rotate(360deg) scale(1.2, 1.2);
}
.btn__text{
  padding-right: 15px;
}

/* == INFORMATION == */

.filtres__info{
  text-align: center;
  color: #0065FC;
  border: 3px solid #DEEBFF;
  border-radius: 100%;
  width: 9px;
  padding: 3px;
  font-size: 0.8em;
}
.filtres__info-text{
  font-size: 0.7em;
}

/* ========= POPULAR & LODGING ========= */

.popular-lodging{
  display: flex;
  flex-flow: row-reverse nowrap;
}

/* ========== SECTION POPULAR ========== */
.popular{
  display: flex;
  flex-flow: column nowrap;
  background-color: #F2F2F2;
  max-width: 30%;
  padding: 1.7vw;
  margin-left: 2vw;
  border-radius: 20px;
  box-shadow: 2px 3px 10px lightgray;
}
.popular__box{

}
.card-popular{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 2vw;
  height: 27%;
}
.card-popular:hover{
  transform: scale(1.1, 1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  cursor: pointer;
}

.popular__title-chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-popular__img{
  height: 100%;
  width: 35%;
  object-fit:cover;
  border-radius: 12px 0px 0px 12px;
}


/* ======= SECTION LODGING ========== */
.lodging{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: #F2F2F2;
  max-width: 66%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 3px 10px lightgray;
}

.card-box{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.lodging-card{
  display: flex;
  flex-flow: column nowrap;
  background: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px lightgray;
  max-height: 200px;
  max-width: 30%;
  margin-bottom: 3vw;
}

.lodging-card:hover{
  transform: scale(1.1, 1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  cursor: pointer;
}

.card-lodging__img{
  border-radius: 15px 15px 0px 0px;
  height: 60%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}

.lodging__more{
  font-size: 0.9em;
}

/* ========== SECTION ACTIVITY ========= */

.activity{
 
}

.activity-card{
display: flex;
margin-bottom: 60px;
}

.activity__double-card-a{
  margin-right: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.activity__double-card-b{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.activity-card--small{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 10px lightgrey;
  height: 47%;
  width: auto;
}
.activity-card--small:hover{
  transform:scale(1.05, 1.05);
  transition-duration: 1s;
}

.activity-card--big{
  border-radius: 20px 20px 20px 20px;
  max-width: 23%;
  margin-right: 2%;
  box-shadow: 2px 2px 10px lightgray;
}
.activity-card--big:hover{
  transform:scale(1.05, 1.05);
  transition-duration: 1s;
}

.activity-card__img--big{
  border-radius: 20px 20px 0px 0px;
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.activity-card__img--small{
  border-radius: 20px 20px 0px 0px;
  height: 80%;
  width: 100%;
}

.card-pomegues{
  height: 70%;
}

.card-frioul-island{
  height: 24%;
}
.card-frioul-island img {
  max-height: 60%;
  object-fit: cover;
  object-position: top;
}

/* =========== FOOTER=========== */

footer{
  display: flex;
  justify-content: space-around;
  background-color: #F2F2F2;
  flex-wrap: wrap;
  flex-grow: 100%;
  padding: 2%;
  margin: -3%;
  font-size: 0.8em;
}
footer dl{
  margin-left: -10%;
}
footer dt{
  font-weight: bolder;
  margin-left: 40px;
  padding-bottom: 10px;
}
footer dd{
  padding-top: 5px;
}
footer a{
  text-decoration: none;
  color: black;
}
footer a:hover{
  color:grey;
}