/* ====== STYLE GENERAL ======= */
@font-face {
  font-family: Raleway;
  src: url(Fonts/Raleway-Italic-VariableFont_wght.ttf);
  src: url(Fonts/Raleway-VariableFont_wght.ttf);
}
*{
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/*======== STYLE ============ */


.activity{
  display: flex;
}

.pic-old-port{
  background: url(images/activites/3_medium/reno-laithienne-vieux-port.jpg) left / 100%;
  width: 300px;
}



/* =========== FOOTER====== ===== */
/*

footer{
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  flex-wrap: wrap;
  flex-grow: 100%;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
footer dl{
  margin-left: -10%;
}
footer dt{
  font-weight: bold;
  margin-left: 40px;
  padding-bottom: 10px;
}
footer dd{
  padding-top: 5px;
}
footer a{
  text-decoration: none;
}
footer a:hover{
  color:grey;
}